.card-highlights {
    width: 100%;
}
.card-title {
    display: flex;
    justify-content: center;
    margin: 5rem;
}
.card-wrapper {
    display: flex;
    justify-content: space-around;
}
.card-wrapper > h1{
    margin-right: 20px;
}
/* cards */
.country-card{
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    display: inline-flex;
    margin-bottom: 2rem;
    margin-right: 5%;
    height: 10rem;
    width: auto;
    justify-content: center;
}
.country-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}
.country-stats > h1{
    display: flex;
    justify-content: center;
}
.country-stats p {
    margin: 0 5%;

}
.country-stats-wrapper{
    display: flex;
    justify-content: center;
}

/* icon */
.confirmed-icon, .recovered-icon, .deaths-icon {
    margin-right: 5px;
}
.confirmed-icon {
    color: chartreuse;
}
.recovered-icon {
    color: rgb(230, 11, 11);
}
.deaths-icon {
    color: rgb(151, 151, 151);
}