.card-highlights {
    width: 100%;
}
.data-wrapper {
    display: flex;
    margin: 2rem 0 0 2rem;
}
.card-title {
    display: flex;
    justify-content: center;
    margin: 5rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}
.card-wrapper {
    display: flex;
    justify-content: space-around;
}
.card-wrapper > h1{
    margin-right: 20px;
}
/* cards */
.country-card{
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    display: inline-flex;
    margin-bottom: 2rem;
    margin-right: 5%;
    height: 10rem;
    width: auto;
    justify-content: center;
}
.country-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}
.country-stats > h1{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.country-stats p {
    margin: 0 5%;
}
.country-stats-wrapper{
    display: flex;
    justify-content: center;
}

/* icon */
.confirmed-icon, .recovered-icon, .deaths-icon, .lockdown-icon, .money-icon, .leitos-icon, .location-icon{
    margin-right: 5px;
}
.money-icon {
    color: green;
}
.leitos-icon {
    color: lightgoldenrodyellow;
}
.location-icon {
    color: rgb(211, 68, 68);
}
.lockdown-icon {
    color: rgb(206, 165, 31);
}
.confirmed-icon {
    color: chartreuse;
}
.recovered-icon {
    color: rgb(230, 11, 11);
}
.deaths-icon {
    color: rgb(151, 151, 151);
}

/* table */
tbody{
    display: block;  
    overflow: auto;
    height: 600px;
    margin: 2rem 0;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width: 70rem;
}
.content-table.sticky h1 {
    text-align: center;
    margin-top: 1rem;
}
.select-filter {
    background-color: transparent;
    color: whitesmoke;
    height: auto;
    width: auto;
    padding: 0.7rem;
    margin: 1rem;
    float: right;
    outline-style: none;
}
.select-filter option {
    color: black;
}

.card-table-wrapper {
    display: flex;
    justify-content: center;
}
.card-table-scroll {
    width: fit-content;
    background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-bottom: 2rem;
}
.content-table{
    margin: 0 3rem;
}
.content-table.sticky{
    border-collapse: collapse;
    font-size: 1.2em;
}
.content-table.sticky th{
    position: sticky;
    top: 0;
}
.card-table-scrol  {
    padding: 22rem;
    width: 100%;
}
.card-table-scroll thead tr {
    text-align: left;
    
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
.card-table-scroll th,
.card-table-scroll td {
    border-bottom: solid 1px rgba(255,255,255,0.1);
    padding: 1rem;
}

/* top 5 highest number of deaths*/
.highest-stats{
    background-color: rgba(0,0,0,0.2);
    border-radius: 30px;
    width: 15rem;
    margin: 1rem;
    height: auto;
    display: flex;
    justify-content: center;
}
.highest-stats-wrapper p {
    font-size: 1.4em;
}
.highest-title{
    display: flex;
    justify-content: center;
}
.highest-stats-wrapper{
    display: flex;
    padding: 5rem 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.highest-stats-wrapper p {
    padding-top: 0.8rem;
}
.highest-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.state-name {
    
}

/* top 5 highest/lowest money spent during the pandemic */

.highest-money-spent-stats {
    display: flex;
    justify-content: center;
}
.money-spent-wrapper h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    text-align: center;
}
.money-spent-title {
    margin-bottom: 2rem;
}



/* scroll */
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: chartreuse;
    border-radius: 50px;
}